<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mio.search.mapper.ItemsMapper" >
	
	<select id="getItemList" resultType="com.mio.search.pojo.Items">
		SELECT ID,parent_id,NAME,status,
		sort_order,is_parent,
		created,updated,attribute
		FROM `mio_tree_list`
	</select>

</mapper>