<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.mapper.CommonDevMapper" >
  <resultMap id="BaseResultMap" type="com.ssm.pojo.CommonDev" >
    <result column="DEVID" property="devid" jdbcType="VARCHAR" />
    <result column="devname" property="devname" jdbcType="VARCHAR" />
    <result column="devip" property="devip" jdbcType="VARCHAR" />
    <result column="devmac" property="devmac" jdbcType="VARCHAR" />
    <result column="DevType" property="devtype" jdbcType="VARCHAR" />
    <result column="devfoundtime" property="devfoundtime" jdbcType="TIMESTAMP" />
    <result column="RES_FIELD1" property="resField1" jdbcType="VARCHAR" />
    <result column="RES_FIELD2" property="resField2" jdbcType="VARCHAR" />
    <result column="RES_FIELD3" property="resField3" jdbcType="VARCHAR" />
    <result column="RES_FIELD4" property="resField4" jdbcType="VARCHAR" />
    <result column="RES_FIELD5" property="resField5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    DEVID, devname, devip, devmac, DevType, devfoundtime, RES_FIELD1, RES_FIELD2, RES_FIELD3, 
    RES_FIELD4, RES_FIELD5
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ssm.pojo.CommonDevExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from common_dev
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.ssm.pojo.CommonDevExample" >
    delete from common_dev
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ssm.pojo.CommonDev" >
    insert into common_dev (DEVID, devname, devip, 
      devmac, DevType, devfoundtime, 
      RES_FIELD1, RES_FIELD2, RES_FIELD3, 
      RES_FIELD4, RES_FIELD5)
    values (#{devid,jdbcType=VARCHAR}, #{devname,jdbcType=VARCHAR}, #{devip,jdbcType=VARCHAR}, 
      #{devmac,jdbcType=VARCHAR}, #{devtype,jdbcType=VARCHAR}, #{devfoundtime,jdbcType=TIMESTAMP}, 
      #{resField1,jdbcType=VARCHAR}, #{resField2,jdbcType=VARCHAR}, #{resField3,jdbcType=VARCHAR}, 
      #{resField4,jdbcType=VARCHAR}, #{resField5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.pojo.CommonDev" >
    insert into common_dev
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="devid != null" >
        DEVID,
      </if>
      <if test="devname != null" >
        devname,
      </if>
      <if test="devip != null" >
        devip,
      </if>
      <if test="devmac != null" >
        devmac,
      </if>
      <if test="devtype != null" >
        DevType,
      </if>
      <if test="devfoundtime != null" >
        devfoundtime,
      </if>
      <if test="resField1 != null" >
        RES_FIELD1,
      </if>
      <if test="resField2 != null" >
        RES_FIELD2,
      </if>
      <if test="resField3 != null" >
        RES_FIELD3,
      </if>
      <if test="resField4 != null" >
        RES_FIELD4,
      </if>
      <if test="resField5 != null" >
        RES_FIELD5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="devid != null" >
        #{devid,jdbcType=VARCHAR},
      </if>
      <if test="devname != null" >
        #{devname,jdbcType=VARCHAR},
      </if>
      <if test="devip != null" >
        #{devip,jdbcType=VARCHAR},
      </if>
      <if test="devmac != null" >
        #{devmac,jdbcType=VARCHAR},
      </if>
      <if test="devtype != null" >
        #{devtype,jdbcType=VARCHAR},
      </if>
      <if test="devfoundtime != null" >
        #{devfoundtime,jdbcType=TIMESTAMP},
      </if>
      <if test="resField1 != null" >
        #{resField1,jdbcType=VARCHAR},
      </if>
      <if test="resField2 != null" >
        #{resField2,jdbcType=VARCHAR},
      </if>
      <if test="resField3 != null" >
        #{resField3,jdbcType=VARCHAR},
      </if>
      <if test="resField4 != null" >
        #{resField4,jdbcType=VARCHAR},
      </if>
      <if test="resField5 != null" >
        #{resField5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ssm.pojo.CommonDevExample" resultType="java.lang.Integer" >
    select count(*) from common_dev
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update common_dev
    <set >
      <if test="record.devid != null" >
        DEVID = #{record.devid,jdbcType=VARCHAR},
      </if>
      <if test="record.devname != null" >
        devname = #{record.devname,jdbcType=VARCHAR},
      </if>
      <if test="record.devip != null" >
        devip = #{record.devip,jdbcType=VARCHAR},
      </if>
      <if test="record.devmac != null" >
        devmac = #{record.devmac,jdbcType=VARCHAR},
      </if>
      <if test="record.devtype != null" >
        DevType = #{record.devtype,jdbcType=VARCHAR},
      </if>
      <if test="record.devfoundtime != null" >
        devfoundtime = #{record.devfoundtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.resField1 != null" >
        RES_FIELD1 = #{record.resField1,jdbcType=VARCHAR},
      </if>
      <if test="record.resField2 != null" >
        RES_FIELD2 = #{record.resField2,jdbcType=VARCHAR},
      </if>
      <if test="record.resField3 != null" >
        RES_FIELD3 = #{record.resField3,jdbcType=VARCHAR},
      </if>
      <if test="record.resField4 != null" >
        RES_FIELD4 = #{record.resField4,jdbcType=VARCHAR},
      </if>
      <if test="record.resField5 != null" >
        RES_FIELD5 = #{record.resField5,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update common_dev
    set DEVID = #{record.devid,jdbcType=VARCHAR},
      devname = #{record.devname,jdbcType=VARCHAR},
      devip = #{record.devip,jdbcType=VARCHAR},
      devmac = #{record.devmac,jdbcType=VARCHAR},
      DevType = #{record.devtype,jdbcType=VARCHAR},
      devfoundtime = #{record.devfoundtime,jdbcType=TIMESTAMP},
      RES_FIELD1 = #{record.resField1,jdbcType=VARCHAR},
      RES_FIELD2 = #{record.resField2,jdbcType=VARCHAR},
      RES_FIELD3 = #{record.resField3,jdbcType=VARCHAR},
      RES_FIELD4 = #{record.resField4,jdbcType=VARCHAR},
      RES_FIELD5 = #{record.resField5,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>