<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.mapper.CommOrganizationMapper" >
  <resultMap id="BaseResultMap" type="com.ssm.pojo.CommOrganization" >
    <result column="ID" property="id" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="PARENTID" property="parentid" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="SORTNUM" property="sortnum" jdbcType="DECIMAL" />
    <result column="STANDBY1" property="standby1" jdbcType="VARCHAR" />
    <result column="STANDBY2" property="standby2" jdbcType="VARCHAR" />
    <result column="STANDBY3" property="standby3" jdbcType="VARCHAR" />
    <result column="STANDBY4" property="standby4" jdbcType="VARCHAR" />
    <result column="STANDBY5" property="standby5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, NAME, PARENTID, STATUS, SORTNUM, STANDBY1, STANDBY2, STANDBY3, STANDBY4, STANDBY5
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ssm.pojo.CommOrganizationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from COMM_ORGANIZATION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.ssm.pojo.CommOrganizationExample" >
    delete from COMM_ORGANIZATION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ssm.pojo.CommOrganization" >
    insert into COMM_ORGANIZATION (ID, NAME, PARENTID, 
      STATUS, SORTNUM, STANDBY1, 
      STANDBY2, STANDBY3, STANDBY4, 
      STANDBY5)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{parentid,jdbcType=VARCHAR}, 
      #{status,jdbcType=DECIMAL}, #{sortnum,jdbcType=DECIMAL}, #{standby1,jdbcType=VARCHAR}, 
      #{standby2,jdbcType=VARCHAR}, #{standby3,jdbcType=VARCHAR}, #{standby4,jdbcType=VARCHAR}, 
      #{standby5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.pojo.CommOrganization" >
    insert into COMM_ORGANIZATION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="parentid != null" >
        PARENTID,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="sortnum != null" >
        SORTNUM,
      </if>
      <if test="standby1 != null" >
        STANDBY1,
      </if>
      <if test="standby2 != null" >
        STANDBY2,
      </if>
      <if test="standby3 != null" >
        STANDBY3,
      </if>
      <if test="standby4 != null" >
        STANDBY4,
      </if>
      <if test="standby5 != null" >
        STANDBY5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="sortnum != null" >
        #{sortnum,jdbcType=DECIMAL},
      </if>
      <if test="standby1 != null" >
        #{standby1,jdbcType=VARCHAR},
      </if>
      <if test="standby2 != null" >
        #{standby2,jdbcType=VARCHAR},
      </if>
      <if test="standby3 != null" >
        #{standby3,jdbcType=VARCHAR},
      </if>
      <if test="standby4 != null" >
        #{standby4,jdbcType=VARCHAR},
      </if>
      <if test="standby5 != null" >
        #{standby5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ssm.pojo.CommOrganizationExample" resultType="java.lang.Integer" >
    select count(*) from COMM_ORGANIZATION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update COMM_ORGANIZATION
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.parentid != null" >
        PARENTID = #{record.parentid,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
      <if test="record.sortnum != null" >
        SORTNUM = #{record.sortnum,jdbcType=DECIMAL},
      </if>
      <if test="record.standby1 != null" >
        STANDBY1 = #{record.standby1,jdbcType=VARCHAR},
      </if>
      <if test="record.standby2 != null" >
        STANDBY2 = #{record.standby2,jdbcType=VARCHAR},
      </if>
      <if test="record.standby3 != null" >
        STANDBY3 = #{record.standby3,jdbcType=VARCHAR},
      </if>
      <if test="record.standby4 != null" >
        STANDBY4 = #{record.standby4,jdbcType=VARCHAR},
      </if>
      <if test="record.standby5 != null" >
        STANDBY5 = #{record.standby5,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update COMM_ORGANIZATION
    set ID = #{record.id,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=VARCHAR},
      PARENTID = #{record.parentid,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=DECIMAL},
      SORTNUM = #{record.sortnum,jdbcType=DECIMAL},
      STANDBY1 = #{record.standby1,jdbcType=VARCHAR},
      STANDBY2 = #{record.standby2,jdbcType=VARCHAR},
      STANDBY3 = #{record.standby3,jdbcType=VARCHAR},
      STANDBY4 = #{record.standby4,jdbcType=VARCHAR},
      STANDBY5 = #{record.standby5,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>