<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.mapper.CommonUserDevMapper" >
  <resultMap id="BaseResultMap" type="com.ssm.pojo.CommonUserDev" >
    <result column="USERID" property="userid" jdbcType="VARCHAR" />
    <result column="DEVID" property="devid" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="binding_time" property="bindingTime" jdbcType="TIMESTAMP" />
    <result column="RES_FIELD1" property="resField1" jdbcType="VARCHAR" />
    <result column="RES_FIELD2" property="resField2" jdbcType="VARCHAR" />
    <result column="RES_FIELD3" property="resField3" jdbcType="VARCHAR" />
    <result column="RES_FIELD4" property="resField4" jdbcType="VARCHAR" />
    <result column="RES_FIELD5" property="resField5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    USERID, DEVID, STATUS, binding_time, RES_FIELD1, RES_FIELD2, RES_FIELD3, RES_FIELD4, 
    RES_FIELD5
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ssm.pojo.CommonUserDevExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from COMMON_USER_DEV
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.ssm.pojo.CommonUserDevExample" >
    delete from COMMON_USER_DEV
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ssm.pojo.CommonUserDev" >
    insert into COMMON_USER_DEV (USERID, DEVID, STATUS,
      binding_time, RES_FIELD1, RES_FIELD2, 
      RES_FIELD3, RES_FIELD4, RES_FIELD5
      )
    values (#{userid,jdbcType=VARCHAR}, #{devid,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{bindingTime,jdbcType=TIMESTAMP}, #{resField1,jdbcType=VARCHAR}, #{resField2,jdbcType=VARCHAR}, 
      #{resField3,jdbcType=VARCHAR}, #{resField4,jdbcType=VARCHAR}, #{resField5,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.pojo.CommonUserDev" >
    insert into COMMON_USER_DEV
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        USERID,
      </if>
      <if test="devid != null" >
        DEVID,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="bindingTime != null" >
        binding_time,
      </if>
      <if test="resField1 != null" >
        RES_FIELD1,
      </if>
      <if test="resField2 != null" >
        RES_FIELD2,
      </if>
      <if test="resField3 != null" >
        RES_FIELD3,
      </if>
      <if test="resField4 != null" >
        RES_FIELD4,
      </if>
      <if test="resField5 != null" >
        RES_FIELD5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="devid != null" >
        #{devid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="bindingTime != null" >
        NOW(),
      </if>
      <if test="resField1 != null" >
        #{resField1,jdbcType=VARCHAR},
      </if>
      <if test="resField2 != null" >
        #{resField2,jdbcType=VARCHAR},
      </if>
      <if test="resField3 != null" >
        #{resField3,jdbcType=VARCHAR},
      </if>
      <if test="resField4 != null" >
        #{resField4,jdbcType=VARCHAR},
      </if>
      <if test="resField5 != null" >
        #{resField5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ssm.pojo.CommonUserDevExample" resultType="java.lang.Integer" >
    select count(*) from COMMON_USER_DEV
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update COMMON_USER_DEV
    <set >
      <if test="record.userid != null" >
        USERID = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.devid != null" >
        DEVID = #{record.devid,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.bindingTime != null" >
        binding_time = #{record.bindingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.resField1 != null" >
        RES_FIELD1 = #{record.resField1,jdbcType=VARCHAR},
      </if>
      <if test="record.resField2 != null" >
        RES_FIELD2 = #{record.resField2,jdbcType=VARCHAR},
      </if>
      <if test="record.resField3 != null" >
        RES_FIELD3 = #{record.resField3,jdbcType=VARCHAR},
      </if>
      <if test="record.resField4 != null" >
        RES_FIELD4 = #{record.resField4,jdbcType=VARCHAR},
      </if>
      <if test="record.resField5 != null" >
        RES_FIELD5 = #{record.resField5,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update COMMON_USER_DEV
    set USERID = #{record.userid,jdbcType=VARCHAR},
      DEVID = #{record.devid,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=INTEGER},
      binding_time = #{record.bindingTime,jdbcType=TIMESTAMP},
      RES_FIELD1 = #{record.resField1,jdbcType=VARCHAR},
      RES_FIELD2 = #{record.resField2,jdbcType=VARCHAR},
      RES_FIELD3 = #{record.resField3,jdbcType=VARCHAR},
      RES_FIELD4 = #{record.resField4,jdbcType=VARCHAR},
      RES_FIELD5 = #{record.resField5,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

</mapper>