<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.mapper.DictSchtypeMapper" >
  <resultMap id="BaseResultMap" type="com.ssm.pojo.DictSchtype" >
    <result column="SCH_TYPE" property="schType" jdbcType="VARCHAR" />
    <result column="SCH_TYPENAME" property="schTypename" jdbcType="VARCHAR" />
    <result column="SCH_COLOR" property="schColor" jdbcType="VARCHAR" />
    <result column="RES_FIELD1" property="resField1" jdbcType="VARCHAR" />
    <result column="RES_FIELD2" property="resField2" jdbcType="VARCHAR" />
    <result column="RES_FIELD3" property="resField3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SCH_TYPE, SCH_TYPENAME, SCH_COLOR, RES_FIELD1, RES_FIELD2, RES_FIELD3
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ssm.pojo.DictSchtypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from DICT_SCHTYPE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.ssm.pojo.DictSchtypeExample" >
    delete from DICT_SCHTYPE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ssm.pojo.DictSchtype" >
    insert into DICT_SCHTYPE (SCH_TYPE, SCH_TYPENAME, SCH_COLOR, 
      RES_FIELD1, RES_FIELD2, RES_FIELD3
      )
    values (#{schType,jdbcType=VARCHAR}, #{schTypename,jdbcType=VARCHAR}, #{schColor,jdbcType=VARCHAR}, 
      #{resField1,jdbcType=VARCHAR}, #{resField2,jdbcType=VARCHAR}, #{resField3,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.pojo.DictSchtype" >
    insert into DICT_SCHTYPE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="schType != null" >
        SCH_TYPE,
      </if>
      <if test="schTypename != null" >
        SCH_TYPENAME,
      </if>
      <if test="schColor != null" >
        SCH_COLOR,
      </if>
      <if test="resField1 != null" >
        RES_FIELD1,
      </if>
      <if test="resField2 != null" >
        RES_FIELD2,
      </if>
      <if test="resField3 != null" >
        RES_FIELD3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="schType != null" >
        #{schType,jdbcType=VARCHAR},
      </if>
      <if test="schTypename != null" >
        #{schTypename,jdbcType=VARCHAR},
      </if>
      <if test="schColor != null" >
        #{schColor,jdbcType=VARCHAR},
      </if>
      <if test="resField1 != null" >
        #{resField1,jdbcType=VARCHAR},
      </if>
      <if test="resField2 != null" >
        #{resField2,jdbcType=VARCHAR},
      </if>
      <if test="resField3 != null" >
        #{resField3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ssm.pojo.DictSchtypeExample" resultType="java.lang.Integer" >
    select count(*) from DICT_SCHTYPE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update DICT_SCHTYPE
    <set >
      <if test="record.schType != null" >
        SCH_TYPE = #{record.schType,jdbcType=VARCHAR},
      </if>
      <if test="record.schTypename != null" >
        SCH_TYPENAME = #{record.schTypename,jdbcType=VARCHAR},
      </if>
      <if test="record.schColor != null" >
        SCH_COLOR = #{record.schColor,jdbcType=VARCHAR},
      </if>
      <if test="record.resField1 != null" >
        RES_FIELD1 = #{record.resField1,jdbcType=VARCHAR},
      </if>
      <if test="record.resField2 != null" >
        RES_FIELD2 = #{record.resField2,jdbcType=VARCHAR},
      </if>
      <if test="record.resField3 != null" >
        RES_FIELD3 = #{record.resField3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update DICT_SCHTYPE
    set SCH_TYPE = #{record.schType,jdbcType=VARCHAR},
      SCH_TYPENAME = #{record.schTypename,jdbcType=VARCHAR},
      SCH_COLOR = #{record.schColor,jdbcType=VARCHAR},
      RES_FIELD1 = #{record.resField1,jdbcType=VARCHAR},
      RES_FIELD2 = #{record.resField2,jdbcType=VARCHAR},
      RES_FIELD3 = #{record.resField3,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>