<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.mapper.SoftwareTabMapper" >
  <resultMap id="BaseResultMap" type="com.ssm.pojo.SoftwareTab" >
    <id column="tab_code" property="tabCode" jdbcType="VARCHAR" />
    <result column="tab_name" property="tabName" jdbcType="VARCHAR" />
    <result column="tab_order" property="tabOrder" jdbcType="INTEGER" />
    <result column="tab_status" property="tabStatus" jdbcType="VARCHAR" />
    <result column="tab_desc" property="tabDesc" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="BaseResultMapRank" type="com.mio.pojo.vo.Software" >
    <result column="softName" property="softName" jdbcType="VARCHAR" />
    <result column="sl" property="sl" jdbcType="VARCHAR" />
    <result column="tabName" property="tabName" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
  </resultMap>


  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    tab_code, tab_name, tab_order, tab_status, tab_desc
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ssm.pojo.SoftwareTabExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from software_tab
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from software_tab
    where tab_code = #{tabCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from software_tab
    where tab_code = #{tabCode,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ssm.pojo.SoftwareTabExample" >
    delete from software_tab
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ssm.pojo.SoftwareTab" >
    insert into software_tab (tab_code, tab_name, tab_order, 
      tab_status, tab_desc)
    values (#{tabCode,jdbcType=VARCHAR}, #{tabName,jdbcType=VARCHAR}, #{tabOrder,jdbcType=INTEGER}, 
      #{tabStatus,jdbcType=VARCHAR}, #{tabDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.pojo.SoftwareTab" >
    insert into software_tab
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tabCode != null" >
        tab_code,
      </if>
      <if test="tabName != null" >
        tab_name,
      </if>
      <if test="tabOrder != null" >
        tab_order,
      </if>
      <if test="tabStatus != null" >
        tab_status,
      </if>
      <if test="tabDesc != null" >
        tab_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tabCode != null" >
        #{tabCode,jdbcType=VARCHAR},
      </if>
      <if test="tabName != null" >
        #{tabName,jdbcType=VARCHAR},
      </if>
      <if test="tabOrder != null" >
        #{tabOrder,jdbcType=INTEGER},
      </if>
      <if test="tabStatus != null" >
        #{tabStatus,jdbcType=VARCHAR},
      </if>
      <if test="tabDesc != null" >
        #{tabDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ssm.pojo.SoftwareTabExample" resultType="java.lang.Integer" >
    select count(*) from software_tab
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update software_tab
    <set >
      <if test="record.tabCode != null" >
        tab_code = #{record.tabCode,jdbcType=VARCHAR},
      </if>
      <if test="record.tabName != null" >
        tab_name = #{record.tabName,jdbcType=VARCHAR},
      </if>
      <if test="record.tabOrder != null" >
        tab_order = #{record.tabOrder,jdbcType=INTEGER},
      </if>
      <if test="record.tabStatus != null" >
        tab_status = #{record.tabStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.tabDesc != null" >
        tab_desc = #{record.tabDesc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update software_tab
    set tab_code = #{record.tabCode,jdbcType=VARCHAR},
      tab_name = #{record.tabName,jdbcType=VARCHAR},
      tab_order = #{record.tabOrder,jdbcType=INTEGER},
      tab_status = #{record.tabStatus,jdbcType=VARCHAR},
      tab_desc = #{record.tabDesc,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.pojo.SoftwareTab" >
    update software_tab
    <set >
      <if test="tabName != null" >
        tab_name = #{tabName,jdbcType=VARCHAR},
      </if>
      <if test="tabOrder != null" >
        tab_order = #{tabOrder,jdbcType=INTEGER},
      </if>
      <if test="tabStatus != null" >
        tab_status = #{tabStatus,jdbcType=VARCHAR},
      </if>
      <if test="tabDesc != null" >
        tab_desc = #{tabDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where tab_code = #{tabCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.pojo.SoftwareTab" >
    update software_tab
    set tab_name = #{tabName,jdbcType=VARCHAR},
      tab_order = #{tabOrder,jdbcType=INTEGER},
      tab_status = #{tabStatus,jdbcType=VARCHAR},
      tab_desc = #{tabDesc,jdbcType=VARCHAR}
    where tab_code = #{tabCode,jdbcType=VARCHAR}
  </update>


  <select id="selectTypeName" resultMap="BaseResultMap" parameterType="com.mio.pojo.SoftwareTabExample" >
      SELECT tab_code,tab_name FROM `software_tab` where tab_name!='关于' order by tab_order
  </select>

  <select id="selectTypeNameA" resultMap="BaseResultMap" parameterType="com.mio.pojo.SoftwareTabExample" >
    SELECT tab_code,tab_name FROM `software_tab` where tab_name!='关于' and tab_name!='全部软件'
  </select>

  <select id="selectTypeNameB" resultMap="BaseResultMap" parameterType="com.mio.pojo.SoftwareTabExample" >
    SELECT tab_name,tab_code FROM `software_tab`  where tab_code= #{tabCode}
  </select>

  <select id="selectTypeNameC" resultMap="BaseResultMap" parameterType="com.mio.pojo.SoftwareTabExample" >
    SELECT tab_code,tab_name FROM `software_tab` where tab_name!='关于' and tab_name!='全部软件' and tab_code!= #{tabCode}
  </select>

  <select id="selectStRank" resultType="java.util.HashMap" parameterType="com.mio.pojo.vo.Software" >
    select CONCAT(b.tab_name,'[',a.`name`,']') as softName,count(1) as sl
    from software_downloadinfo t
    inner join software_baseinfo a on t.software_id=a.id
    inner join software_tab_rel r on r.tab_code!='all' and r.software_id=t.software_id
    inner join software_tab b on r.tab_code=b.tab_code
    inner join software_tab tr on tr.tab_code = r.tab_code
    left join common_region_ip i on SUBSTR(t.download_ip From 1 for 6)=i.ip
    <where>
      <include refid="query_st" />
    </where>
    GROUP BY  b.tab_name,a.`name`
    order by sl desc
    LIMIT 10;
  </select>

  <!--排名-->
  <select id="selectStRanks" resultMap="BaseResultMapRank" parameterType="com.mio.pojo.vo.Software" >
    select CONCAT(b.tab_name,'[',a.`name`,']') as softName,count(1) as sl,b.tab_name as tabName
    from software_downloadinfo t
    inner join software_baseinfo a on t.software_id=a.id
    inner join software_tab_rel r on r.tab_code!='all' and r.software_id=t.software_id
    inner join software_tab b on r.tab_code=b.tab_code
    inner join software_tab tr on tr.tab_code = r.tab_code
    left join common_region_ip i on SUBSTR(t.download_ip From 1 for 6)=i.ip
    <where>
      <include refid="query_st" />
    </where>
    GROUP BY  b.tab_name,a.`name`
    order by sl desc
    LIMIT 10;
  </select>
  <!--导出排名不带类型-->
  <select id="selectStRanksdc" resultMap="BaseResultMapRank" parameterType="com.mio.pojo.vo.Software" >
    select a.name as softName,count(1) as sl,b.tab_name as tabName
    from software_downloadinfo t
    inner join software_baseinfo a on t.software_id=a.id
    inner join software_tab_rel r on r.tab_code!='all' and r.software_id=t.software_id
    inner join software_tab b on r.tab_code=b.tab_code
    inner join software_tab tr on tr.tab_code = r.tab_code
    left join common_region_ip i on SUBSTR(t.download_ip From 1 for 6)=i.ip
    <where>
      <include refid="query_st" />
    </where>
    GROUP BY  b.tab_name,a.`name`
    order by sl desc
    LIMIT 10;
  </select>


  <!--下载统计-->
  <select id="selectStDownSl" resultMap="BaseResultMapRank" parameterType="com.mio.pojo.vo.Software" >
    select t.tab_name,IFNULL(s.sl,'--') as sl
    from software_tab
    t LEFT JOIN
    (
    select t.tab_code,t.tab_name,IFNULL(s.sl,0) as sl
    from software_tab t LEFT JOIN (
    select
    r.tab_code,count(1) as sl
    from software_downloadinfo t
    inner join software_baseinfo a on t.software_id=a.id
    inner join software_tab_rel r on r.tab_code not in ('all','about')  and r.software_id=t.software_id
    inner join software_tab tr on tr.tab_code=r.tab_code
    left join common_region_ip i on SUBSTR(t.download_ip FROM 1 FOR 6)=i.ip
    <where>
      <include refid="query_st" />
    </where>
    group by r.tab_code
    ) s on t.tab_code=s.tab_code
    where t.tab_code not in ('all','about')
    <include refid="ifTabName" />
    order by t.tab_order)  s on t.tab_code=s.tab_code
    where t.tab_code not in ('all','about')
  </select>

  <!--趋势图-->
  <select id="selectStQsu" resultMap="BaseResultMapRank" parameterType="com.mio.pojo.vo.Software" >
    select d.id as time ,IFNULL(t.sl,0) as sl from common_dict_date d
    LEFT JOIN (
    select DATE_FORMAT(t.download_time,'%Y%m%d')  as date,count(1) as sl
    from software_downloadinfo t
    inner join software_baseinfo a on t.software_id=a.id
    inner join software_tab_rel r on r.tab_code!='all' and r.software_id=t.software_id
    inner join software_tab b on r.tab_code=b.tab_code
    inner join software_tab tr on tr.tab_code = r.tab_code
    left join common_region_ip i on SUBSTR(t.download_ip From 1 for 6)=i.ip
    <where>
      <include refid="query_st" />
    </where>
    GROUP BY DATE_FORMAT(t.download_time,'%Y%m%d')
    ) t on d.id=t.date
    <where>
      <include refid="query_sts" />
    </where>
    ORDER BY time ;
  </select>

  <sql id="query_st">
    <if test="beginTime!=null and beginTime!=''">
      and t.download_time >= #{beginTime}
    </if>
    <if test="endTime!=null and endTime!=''">
      and t.download_time &lt; #{endTime}
    </if>
    <if test="region!=null and region!=''">
      and i.region_name = #{region}
    </if>
    <if test="tabName!=null and tabName!=''">
      and tr.tab_name = #{tabName}
    </if>
  </sql>

  <sql id="ifTabName">
    <if test="tabName!=null and tabName!=''">
      and t.tab_name = #{tabName}
    </if>
  </sql>

  <sql id="query_sts">
    <if test="beginTime!=null and beginTime!=''">
      and d.id >= #{beginTime}
    </if>
    <if test="endTime!=null and endTime!=''">
      and d.id &lt; #{endTime}
    </if>
  </sql>

  <select id="selectOrder" resultType="java.lang.Integer" parameterType="com.ssm.pojo.SoftwareTab">
    SELECT MAX(tab_order) FROM `software_tab`
  </select>
</mapper>